.wrap{
    display: flex;
}
.users-box{
    padding: 10px;
    border: 1px solid black;
    width: fit-content;
    background: lightgray;
}
.single-user-box{
    padding: 10px;
    border: 1px solid tomato;
    width: fit-content;
    background: lightblue;
}